<% if session[:user_id] %>
  <p>Welcome, <%= User.find(session[:user_id]).email %>!</p>
  <%= button_to "Logout", logout_path, method: :delete %>
<% else %>
  <%= link_to "Sign In", signin_path %> |
  <%= link_to "Sign Up", signup_path %>
<% end %>
